*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0 auto;
    overflow: hidden;
    background:linear-gradient(#293959,#182848);
    font-family: "nunito";
}

header{
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 2rem;

  
}

header p{
    margin-top: 20px;
    font-size: 2.5rem;
    color: white;
    text-shadow: 5px 5px 5px #000;
}

section{
    display: flex;
    margin-top: 30px;
    justify-content: center;

    width: 100vw;
    height: 100vh;
 
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 75%;

    background: url("img/world.jpg");
    background-position:30% 30%;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,1);
    text-shadow: 2px 2px 2px #000;

}



.container p{
    transform: translate(5%, -100%);
    font-size: 2.3rem;
    color: white;
}

.numbers-box{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.numbers-box > *{
    margin-left: 40px;
}

.single-number{
    margin-left: 3px;
    width: 35px;
    height: 35px;
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,1);
    
}



input{
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,1);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: black;
    
}

input:focus{
    border: 3px solid rgba(4,78,135,0.7);
    border-radius: 5px;
    outline: 0;
    outline-offset: 1px;
    box-shadow: 0px 0px 83px 9px rgba(4,78,135,1);


    transform: translate(0px, -5px);
 
}

.valid{
    margin-top: 15px;
    margin-left: 45px;
    font-size: 1.3rem;
    color: green;
    text-shadow: 2px 2px 2px #000;
    font-style: italic;
}

.invalid{
    margin-top: 15px;
    margin-left: 45px;
    font-size: 1.3rem;
    color:red;
    text-shadow: 2px 2px 2px #000;
    font-style: italic;
}

 /* buttons*/
#getNumbers {
    cursor: pointer;
    width: 10rem;
    height: 3rem;
    position: absolute;
    bottom: 15%;
    left: 70%;
    border-radius: 20px;
    border: 0px;
    font-weight: bold;
    background-color: white;
    font-size: 1.7rem;
    box-shadow: 0px 0px 20px 3px rgba(255,255,255,0.2);
    transition: ease-in-out 0.5s;
    outline:none;
}

#getNumbers:hover{
    background-color:rgba(4,78,135,1);
    outline:none;
    border:none;
    color: white;
}

#getNumbers:active{
    transform:translateY(60px);
    outline:none;
}

#clear {
    cursor: pointer;
    width: 10rem;
    height: 3rem;
    position: absolute;
    bottom: 15%;
    left: 20%;
    border-radius: 20px;
    border: 0px;
    font-weight: bold;
    background-color: #B80F0A;
    color: white;
    font-size: 1.7rem;
    box-shadow: 0px 0px 20px 3px rgba(184, 15, 10, 0.4);
    transition: ease-in-out 0.5s;
    outline:none;
}

#clear:hover{
    background-color:black;
    outline:none;
    border:none;
    color: #B80F0A;
    
}

#clear:active{
    transform:translateY(60px);
    outline:none;
}

@media screen and (max-width: 1170px)  {

    header p{
        font-size: 2rem;
    }

    .numbers-box{
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 2;
        padding: 0;
        margin-top: -90px;
    }
    .numbers-box > * {
        margin-top: 50px;
    }
    .space-1{
        grid-column-start: 0;
        grid-column-end: 1;
        grid-row-start: 0;
        grid-row-end: 1;
    }
    .space-2{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 0;
        grid-row-end: 1;
    }
    .space-3{
        grid-column-start: 0;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .space-4{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #getNumbers{
        transform: translate(0%, 100%);
        font-size: 95%;
        width: 10%;
        
    }

    #clear{
        transform: translate(0%, 100%);
        font-size: 90%;
        width: 10%;
    }
    .container p{
        transform: translateY(-170%);
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 420px){
  
    .numbers-box{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 50%;
        
    }
  
    .numbers-box > * {
        margin: 0;
    }

    .space-1{
       
        width: 70%;
        height: 5%;
      
    }
    .space-2{
       
        width: 70%;
        height: 5%;
        
    }
    .space-3{
      
        width: 70%;
        height: 5%;
       
    }
    .space-4{
       
        width: 70%;
        height: 5%;
        
    }

    #getNumbers{
        font-size: 95%;
        width: 20%;
        transform: translate(-50%, 100%);
    }

    #clear{
        font-size: 95%;
        width: 20%;
        transform: translate(10%, 100%);
    }

    header p{
        width: 60%;
        font-size: 75%;
        text-align: center;
    }

    .numbers-box{
        transform: translate(5%, -0%);
    }

    .container{
        background-position:100% 95%;
        background-repeat: repeat;
        background-size: contain;
        justify-content: flex-start;
    
    }

    .container p {
        transform: translate(15%, -450%);
        font-size: 1.4rem;
    }
  
    .valid, .invalid{
        transform: translate(0%, -160%);
        font-size: 1rem;
    }
    
} 